{% extends 'base.html' %}

{% block content %}
  {% for profile in person.profile.all %}
  <div class="border border-3 p-2 mb-2 w-70 mt-3">
    <div class="d-flex position-relative">
      {% if profile.image %}
        <img src="{{ profile.image.url }}" class="flex-shrink-0 me-3" alt="no" style="height:400px">
      {% else %}
        <img src="http://www.ipon.co.kr/common/img/default_profile.png" class="flex-shrink-0 me-3" alt="no" style="height:400px">
      {% endif %}
      <div>
        <h3 class="mt-0">{{ person.username }} 님의 프로필 페이지</h3>
        <p>{{ profile.content }}</p>
      </div>
    </div>
  </div>
  {% if user == person %}
    <a href="{% url 'accounts:update_profile' person.pk profile.pk %}" class="btn btn-primary">프로필 수정</a>
    <form action="{% url 'accounts:delete_profile' person.pk profile.pk %}" method="POST" class="mx-3" style="display:inline;">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="삭제">
    </form>
  {% endif %}
  {% empty %}
  <div class="border border-3 p-2 mb-2 mt-3">
    <div class="d-flex position-relative">
      <img src="http://www.ipon.co.kr/common/img/default_profile.png" class="flex-shrink-0 me-3" alt="no" style="height:500px">
      <div>
        <h3 class="mt-0">{{ person.username }} 님의 프로필 페이지</h3>
        <p>프로필이 비어있습니다. 나만의 프로필을 작성해보세요!</p>
      </div>
    </div>
  </div>
  {% if user == person %}
    <a href="{% url 'accounts:create_profile' person.pk %}" class="btn btn-primary">프로필 생성</a>
  {% endif %}
  {% endfor %}
  <div class="border border-3 p-3 mb-2 mt-3">
    <h3 class="mt-1">{{ person.username }}님의 팔로우</h3>
    <span>
      팔로잉 : {{ person.followings.all|length }} / 팔로워 : {{ person.followers.all|length }}
    </span>
    {% if request.user != person %}
      <form action="{% url 'accounts:follow' person.pk %}" method="POST" style="display:inline;">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <button id="followBtn">언팔로우</button>
        {% else %}
          <button id="followBtn">팔로우</button>
        {% endif %}
      </form>
    {% endif %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-6">
          <h5>팔로잉 목록</h5>
          <hr>
          {% for following in person.followings.all %}
            <p>{{ following }}</p>
          {% endfor %}
        </div>
        <div class="col-6">
          <h5>팔로워 목록</h5>
          <hr>
          {% for follower in person.followers.all %}
            <p>{{ follower }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}