{% extends 'base.html' %}

{% block content %}
  <span class="fs-1 fw-bold">
    상세 정보
  </span>
  <span>
    <a href="{% url 'movies:index' %}" class="btn btn-primary float-end mt-3">BACK</a>
  </span>
  <div class="border border-3 p-2 mb-2">
    <div class="d-flex position-relative">
      <img src={{ IMAGE_URL }}{{ movie.poster_path }} class="flex-shrink-0 me-3" alt="no" style="height:500px">
      <div>
        <h3 class="mt-0">{{ movie.title }}</h3>
        <p>개봉일: {{ movie.release_date }}</p>
        <p>tmdb 평점: {{ movie.vote_average }}</p>
        <p>tmdb 평가수: {{ movie.vote_count }}</p>
        <p>장르: {% for genre in movie.genres.all %}
          {{ genre.name }},
          {% endfor %}</p>
        <p>줄거리: {{ movie.overview }}</p>
      </div>
    </div>
    {% if user.is_authenticated %}
      <form action="{% url 'movies:like' movie.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if user in movie.like_users.all %}
          <button id='{{ movie.pk }}' class="fas fa-heart btn btn-transparent"></button>
        {% else %}
          <button id='{{ movie.pk }}' class="far fa-heart btn btn-transparent"></button>
        {% endif %}
      </form>
    {% else %}
      <span class="far fa-heart btn btn-transparent"></span>
    {% endif %}
      <span id='like_count_{{ movie.pk }}'>{{ movie.like_users.all|length }}</span>
  </div>
  <div class="border border-3 p-2 mb-2">
    <form action="{% url 'movies:reviews_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit">
    </form>
  </div>
  <div class="border border-3 p-2 mb-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width:50px;">번호</th>
          <th scope="col" style="width:70px;">아이디</th>
          <th scope="col" style="width:50px;">평점</th>
          <th scope="col">한줄리뷰</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for review in movie.review_set.all %}
          <tr>
            <th scope="row">{{ review.pk }}</th>
            <td>{{ review.user }}</td>
            <td>{{ review.score }}</td>
            <td>{{ review.content }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block script %}
  <script>
    // const formTag = document.querySelector('form')
    // formTag.setAttribute('action', '')
    const buttonTag = document.querySelectorAll('button')
    buttonTag.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault()
        const moviePk = event.target.getAttribute('id')
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
        axios.post(`/movies/${ moviePk }/like/`)
          .then( function (response) {
            if (response.data.like) {
              event.target.setAttribute('class', 'fas fa-heart btn btn-transparent')
            } else {
              event.target.setAttribute('class', 'far fa-heart btn btn-transparent')
            }
            const likeCnt = document.querySelector(`#like_count_${moviePk}`)
            likeCnt.innerText = `${response.data.count}`
          })
      })
    })
  </script>
{% endblock script %}