{% extends 'base.html' %}

{% block content %}
<h1>INDEX</h1>
{{ movies.count }}
{% for movie in movies %}
  <p>{{ movie }}</p>
  <p>{{ movie.pk }}</p>
  <p>{{ movie.id }}</p>
  <p>{{ movie.title }}</p>
  <p>{{ movie.release_date }}</p>
  <p>{{ movie.popularity }}</p>
  <p>{{ movie.vote_count }}</p>
  <p>{{ movie.vote_average }}</p>
  <p>{{ movie.overview }}</p>
  <p>{{ movie.poster_path }}</p>
  <p>{{ movie.genres.all }}</p>
  <p>{{ movie.like_users.all }}</p>
  <hr>
{% endfor %}
{% endblock content %}