{% extends 'base.html' %}

{% block content %}
  <h1>"{{ title }}" 검색 결과</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in search_movies %}
      <div class="col">
        <div class="card h-100">
          <img src={{ IMAGE_URL }}{{ movie.poster_path }} class="card-img-top h-70" alt="no" style="height:500px">
          <div class="card-body">
            <h5 class="card-title text-center">{{ movie.title }}</h5>
            {% if user.is_authenticated %}
              <form action="{% url 'movies:like' movie.pk %}" method="POST" class="d-inline">
                {% csrf_token %}
                {% if user in movie.like_users.all %}
                  <button style="color:red;" id='{{ movie.pk }}' class="fas fa-heart btn btn-transparent"></button>
                {% else %}
                  <button style="color:red;" id='{{ movie.pk }}' class="far fa-heart btn btn-transparent"></button>
                {% endif %}
              </form>
            {% else %}
              <span class="far fa-heart btn btn-transparent"></span>
            {% endif %}
              <span id='like_count_{{ movie.pk }}'>{{ movie.like_users.all|length }}</span>
            <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-outline-primary float-end">자세히</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>검색된 결과가 없습니다.</p>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
    // const formTag = document.querySelector('form')
    // formTag.setAttribute('action', '')
    const buttonTag = document.querySelectorAll('button')
    buttonTag.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault()
        const moviePk = event.target.getAttribute('id')
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
        axios.post(`/movies/${ moviePk }/like/`)
          .then( function (response) {
            if (response.data.like) {
              event.target.setAttribute('class', 'fas fa-heart btn btn-transparent')
            } else {
              event.target.setAttribute('class', 'far fa-heart btn btn-transparent')
            }
            const likeCnt = document.querySelector(`#like_count_${moviePk}`)
            likeCnt.innerText = `${response.data.count}`
          })
      })
    })
  </script>
{% endblock script %}